<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Finalize Order</title>
</head>
<body>
    <div>
        <h3>Finalize Order: </h3>
    </div>
    <div class="text-container">
        <form action= "FinalizeOrderInput" method = "POST">
            
            <input type="text" name="FinalizeOrderInput_orderId" placeholder="Order Id" required>
            
            <input type="text" name="FinalizeOrderInput_empId" placeholder="Employee Id" required>
            
            <button type= "submit" id="btnFinalizeOrderInput" type="button">Finalize Order</button>
          </form>
    </div>
    <div>
        <h3>
            Pending Orders: 
        </h3>
    </div>
    <div class="text-container">
      <table>
          <thead>
            <tr>
                <th>Order ID</th>
                <th>Dish ID</th>
                <th>Order time</th>
                <th>Customer ID</th>
            </tr>
            </thead>    
            <tbody>
             {% for row in data2 %}    
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="spacer"></div>
    <div class="footer">
        <div class="text-container">
            <form action="/">
                <button type= "submit"  type="button" id="GB">Go Back</button>
            </form>
          </div>
      </div>
</body>
</html>